@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;1,800&display=swap');

* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #1b1919;
  color: rgb(255, 255, 255);
}


/* Header/logo Title */
.header {
  text-align: center;
  padding: 20px;
  background: #371B58;
  color: rgb(247, 247, 247);
}

.header a{
  text-align: center;
  padding: 10px;
  color: #7858A6;
}

.header img {
  width: 1000px;
  height: 200px;
}


/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: #4C3575;
  position: sticky;
  position: -webkit-sticky;
  text-align: center;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  width: 150px;
  height: 40px;
  text-decoration: none;
}


/* Change color on hover */
.navbar a:hover {
  background-color: #7858A6;
  color: white;
}

/* Active/current link */
.navbar a.active {
  background-color: #371B58;
  color: white;
}

.main a {
  text-decoration: none;
}

/* Main column */
.main {
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: #1b1919;
  padding: 20px;
  color: #ffffff;
}

.button {
  display:inline-block;
  font-size: 16px;
  color: white;
  background-color: #371B58; /* blue */
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
  border: 3px solid #371B58;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  width: 300px;
  height: 60px;
}

.button:hover {background-color: #4C3575}
.button:active {background-color: #4C3575;}

button[type=submit] {
  font-size: 16px;
  color: white;
  background-color: #371B58; /* blue */
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
  border: 3px solid #371B58;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  width: 300px;
  height: 60px;
}

button[type=submit]:hover {background-color: #4C3575}
button[type=submit]:active {background-color: #4C3575;}


input[type=text] {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 20px;
  text-align: left;
  background: #4C3575;
  border: 1px solid #4C3575;
  color: white;
  border-radius: 15px;
}

input[type=text]:disabled {background-color: #5B4B8A;border: 1px solid #5B4B8A; opacity: 30%;}

input[type=email] {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 20px;
  text-align: left;
  background: #4C3575;
  border: 1px solid #4C3575;
  color: white;
  border-radius: 15px;
}

textarea {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 20px;
  text-align: left;
  background: #4C3575;
  border: 1px solid #4C3575;
  color: white;
  border-radius: 15px;
}

select {
  font-family: 'Montserrat', sans-serif;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 20px;
  text-align: left;
  background: #4C3575;
  border: 1px solid #4C3575;
  color: white;
  width: 100%;
  border-radius: 15px;
}


/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #888787;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #4C3575;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #1b1919;
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
